/* ** v3 design showing steps to install** */
body {
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    /* height: 100vh; */
    /* background-color: #100226; */
    background: url('images/bg_glitter_v2.png');
    background-repeat: no-repeat;
    background-size: 106vw 109vh;
    background-position: -1vh -6vw;
}

.download_button {
    width: 90vw;
    height: 56px !important;
    animation: blur infinite 1s;
}

.download_button img {
    width: 20px;
}

.section-slider {
    /* border:1px solid red; */
    height: 58vh;
    padding-top: 25px;
    margin-bottom: 10vh !important;
}

@media (min-height:800px) {
    .section-slider {
        height: 56vh;
        padding-top: 50px;
        margin-bottom: 18vh !important;
    }
}

.step-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* border:1px solid white; */
}

.step {
    width: 40%;
}

.instruct-txt {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    font-style: italic;
    padding-left: 10px;
    width: 50%;
}

.instruct-img {
    height: 45vh;
}

@media (min-height:800px) {
    .instruct-img {
        height: 50vh;

    }
}

.instruct-img img {
    width: 90%;
    margin-left: 5%;
}

.download_cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.qunami_logo {
    width: 120px;
}

.logo_subtxt {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 700;
    font-style: italic;
    color: #f0d09e;
    margin: 10px;
    opacity: 0.8;
}

.download_bar_outline {
    /* width: 90vw; */
    height: 56px;
    margin-bottom: -51px;

}

.download_bar_outline img {
    z-index: 11;
    width: 92vw;
    height: 56px;
}

.download_bar {
    position: relative;
    width: 90vw;
    height: 56px;
    z-index: 9;
    /* border:1px solid red; */
}

.download_progress_bar {
    height: 46px;
    border-radius: 23px;
    width: 0%;
    background-color: #f0d09e;
    transition: all 0.5s;
    z-index: 9;
}

#download_text {
    position: absolute;
    margin: 0px;
    margin-top: 3px;
    font-size: 1.2rem;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: italic;
    z-index: 10;
    top: 8px;
    text-align: center;
    width: 100%;
}

.ticker_cont {
    height: 40px;
    white-space: nowrap;
    /* overflow: hidden; */
    width: 100vw;
    position: absolute;
    bottom: 0px;
    overflow: hidden;
    box-sizing: border-box;
    border-top: 1px solid rgba(240, 208, 158, 0.6);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ticker-hash {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 40px;
    width: 50px;
    z-index: 10;
}

.ticker_list {
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 9;
    animation: marque infinite 12s linear;
}

.ticker-elem {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #f0d09e;
    margin-right: 10px;
}

.ticker-elem img {
    height: 25px;
    width: 25px;
    margin: 5px;
}

.ticker-elem span {
    font-weight: 700;
    color: #fff;
}

@keyframes marque {
    0% {
        transform: translateX(38%);
    }

    100% {
        transform: translateX(-38%);
    }

}

@keyframes blur {
    0% {
        filter: drop-shadow(0px 0px 1px #fff600);
    }

    50% {
        filter: drop-shadow(0px 0px 4px #fff600);
    }

    100% {
        filter: drop-shadow(0px 0px 0px #fff600);
    }
}