body {
    background: url('./images/bg_glitter_v2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.main-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vmax;
    width: 100vmin;
}

.top-header-logo img {
    width: 35vw;
    margin: 5vh;
    margin-bottom: 8vh;
}

.cash-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cash-txt {
    font-family: 'Roboto Condensed', sans-serif;
    color: #f2dcb8;
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 3px;

}

.cash-logo img {
    width: 75vw;
    margin-top: 8px;
    margin-bottom: 10px;
}

.button {
    width: 56vw;
    margin-top: 20px;
    animation: blur infinite 1s;
    /* filter: drop-shadow(0px 0px 10px #f2dcb8); */
    /* filter: drop-shadow(0px 0px 10px #f2dcb8); */
}

.u-name {
    font-family: 'Roboto Condensed', sans-serif;
    color: #f2dcb8;
    text-align: center;
    font-weight: 300;
    font-size: 13px;
    margin: 0px;
    margin-top: 10px;
    letter-spacing: 1px;
}

.u-prize {
    font-family: 'Roboto Condensed', sans-serif;
    color: #f2dcb8;
    text-align: center;
    font-weight: 700;
    font-size: 23px;
    margin: 0px;
}

@media(max-width:320px) {
    .u-name {
        font-size: 11px;
        letter-spacing: 0px;
    }

    .u-prize {
        font-size: 18px;
    }
}

.winners-cont {
    padding-top: 9vh;
    /* padding-bottom: 0vh; */
}

.winner-header {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    color: #f2dcb8;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    letter-spacing: 3px;
}

.winner-card {
    margin: auto;
    width: 22vw;
}

@keyframes blur {
    0% {
        filter: drop-shadow(0px 0px 1px #fff600);
    }

    50% {
        filter: drop-shadow(0px 0px 8px #fff600);
    }

    100% {
        filter: drop-shadow(0px 0px 0px #fff600);
    }
}